.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 10px;

  max-width: 25rem;
  max-height: 35rem;

  border: 1px solid #363636;
  border-radius: 5px;
}

.imageNprice {
  position: relative;
}

.image {
  height: auto;
  max-width: 300px;
  max-height: 100%;
  border-radius: 5px;
}

.description {
  max-width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 10px;
  overflow-y: scroll;
}

.paragraph {
  margin-bottom: 0px;
}
.price {
  color: #f0f0f0;
  font-weight: 400;
  align-self: center;
  margin: 0;
}

.dot {
  height: 60px;
  width: 60px;

  background-color: #a91b08;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 3px #363636;

  border-right: 1px solid #363636;
  border-bottom: 1px solid #363636;

  position: absolute;
  top: 8px;
  left: 8px;

  z-index: 1;
}

.buttons {
  max-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.purchaseAdd {
  color: #a91b08;
  margin: 5px 10px 5px 5px;
  background-color: #ffffff;
  border: 2px solid #a91b08;
}

.purchaseAdd:hover {
  color: #a91b08;
  background-color: #f2f2f2;
  border: 2px solid #871506;
}

.purchaseBuy {
  margin: 5px 10px 5px 5px;
  background-color: #a91b08;
  border: 1px solid transparent;
}

.purchaseBuy:hover {
  background-color: #871506;
  border: 1px solid transparent;
}
